<%# Sidenav %>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <%# Order in Sidebar %>
  <div id="main">
    <h4 class="my-cart">My cart</h4>
    <% if current_user.pending_order.present?  %>
      <% current_user.pending_order.ingredients.each do |ingredient| %>
        <div class="row cart-item">
          <div class="col-4">
            <%= cl_image_tag ingredient.photo.key, class: "cart-img" %>
          </div>
          <div class="col-8">
            <div class="cart-detail">
              <div class="item-price">
                <p><%= ingredient.stock_amount %> X <%= ingredient.name %></p>
                <p><%= humanized_money_with_symbol(ingredient.price) %></p>
              </div>
              <p class="cart-resto"><%= ingredient.seller.restaurant.name %></p>
            </div>
          </div>
        </div>
      <% end %>
      <%= link_to order_checkout_path(current_user.pending_order), class: "btn btn-checkout" do %>
        <p>Proceed to checkout</p>
        <p>$<%= current_user.order_total_price %></p>
      <% end %>
    <% else %>
      <%= "Cart is empty" %>
    <% end %>
  </div>
</div>
<%# Cart Icon %>
<span style="cursor:pointer" onclick="openNav()" class="m-2">
  <div class="cart-number d-flex">
    <%= image_tag "icon_cart.svg" %>
    <% if current_user.pending_order.present?  %>
      <p><%= current_user.pending_order.ingredients.count %></p>
    <% else %>
      <p>0</p>
    <% end %>
  </div>
</span>
<script>
  // /* Set the width of the side navigation */
    function openNav() {
      document.getElementById("mySidenav").style.width = "340px";
      // document.getElementById("mySidenav").style.display = "block";
  
    }
    // /* Set the width of the side navigation to 0 */
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      // document.getElementById("mySidenav").style.display = "none";
    }
    const urlParams = new URLSearchParams(window.location.search);
    const cartStatus = urlParams.get('cart');
    if (cartStatus === "open") {
      openNav();
    };
</script>
