<%# Sidenav %>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <%# Order in Sidebar %>
  <div id="main">
    <h4 class="my-cart mb-4">My Cart</h4>
    <% if current_user.pending_order.present?  %>
      <% current_user.pending_order.ingredients.each do |ingredient| %>
        <div class="cart-item d-flex justify-content-between mb-3">
          <div class="cart-detail d-flex align-middle">
            <%= cl_image_tag ingredient.photo.key, class: "cart-img" %>
            <div class="item-price">
              <p class="mb-0" style="font-size: 16px; font-weight: 600;"><%= ingredient.stock_amount %><%= ingredient.unit.downcase %>x <%= ingredient.name %></p>
              <p class="cart-resto mt-1"><%= ingredient.seller.restaurant.name %></p>
              <%# Remove %>
            </div>
          </div>
          <p mb-0><%= humanized_money_with_symbol(ingredient.price) %></p>
        </div>
      <% end %>
      <%= link_to order_checkout_path(current_user.pending_order), class: "btn btn-checkout bg-black mt-4" do %>
        <p>Checkout</p>
        <p>$<%= current_user.order_total_price %></p>
      <% end %>
    <% else %>
      <%= "Cart is empty" %>
    <% end %>
  </div>
</div>
<%# Cart Icon %>
<span style="cursor:pointer" onclick="openNav()" class="m-2">
  <div class="cart-number d-flex">
    <%= image_tag "icon_cart.svg" %>
    <% if current_user.pending_order.nil? || current_user.pending_order.ingredients.count == 0 %>
      <p>0</p>
    <% else %>
      <p><%= current_user.pending_order.ingredients.count %></p>
    <% end %>
  </div>
</span>
<script>
  // /* Set the width of the side navigation */
    function openNav() {
      document.getElementById("mySidenav").style.width = "340px";
      // document.getElementById("mySidenav").style.display = "block";
  
    }
    // /* Set the width of the side navigation to 0 */
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      // document.getElementById("mySidenav").style.display = "none";
    }
    const urlParams = new URLSearchParams(window.location.search);
    const cartStatus = urlParams.get('cart');
    if (cartStatus === "open") {
      openNav();
    };
</script>
