<%# Sidenav %>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <%# Order in Sidebar %>
  <div id="main">
    <h4>My cart</h4>
    <% if current_user.pending_order.present?  %>
      <% current_user.pending_order.ingredients.each do |ingredient| %>
        <%= ingredient.stock_amount %>X<%= ingredient.name %><br>
        $<%= sum_ingredient_price(ingredient.stock_amount, ingredient.unit_price) %><br>
        <%= ingredient.seller.restaurant.name %><br>
        <hr>
      <% end %>
      Order total price: <%= current_user.order_total_price %><br>
      Status: <%= current_user.pending_order.status %>
      <%= link_to "Proceed to checkout", checkout_path, class: "btn btn-outline-primary"%>
    <% else %>
      <%= "Cart is empty" %>
    <% end %>
  </div>
</div>
<%# Cart Icon %>
<span style="cursor:pointer" onclick="openNav()"><%= image_tag "icon_cart.svg" %></span>
<script>
  // /* Set the width of the side navigation */
    function openNav() {
      document.getElementById("mySidenav").style.width = "340px";
  
    }
    // /* Set the width of the side navigation to 0 */
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
    const urlParams = new URLSearchParams(window.location.search);
    const cartStatus = urlParams.get('cart');
    if (cartStatus == "open") {
      openNav();
    };
</script>
