<%# Recue Food %>
<div class="dashboard-page-header d-flex justify-content-between mt-5 mb-4">
  <h1>Rescued ingredients</h1>
</div>
<%# Chart %>
<div class="d-flex justify-content-center">
  <%= column_chart @orders.group_by_day(:created_at).sum(:weight), width: "90%", colors: ["#F6C042", "#FFDEE5", "#A3D0BF", "#EE7246", "#095941", "#CED3F9", "#57BD6F"] %>
</div>
<%# Ingredients %>
<div class="dashboard-page-header d-flex justify-content-between mt-5 mb-4">
  <h1>Wasted ingredients</h1>
</div>
<div class="d-flex justify-content-center">
  <%= bar_chart @sold_ingredients.group(:name).sum(:stock_amount), width: "90%", height: "500px", colors: ["#F6C042", "#FFDEE5", "#A3D0BF", "#EE7246", "#095941", "#CED3F9", "#57BD6F"] %>
</div>
<%# Customer %>
<div class="dashboard-page-header d-flex justify-content-between mt-5 mb-4">
  <h1>Total customers</h1>
</div>
<%# chart %>
<div class="d-flex justify-content-center">
  <%= line_chart @orders.group_by_day(:created_at).count(:buyer_id), colors: ["#F6C042"]%>
</div>
<%# Orders %>
<div class="dashboard-page-header d-flex justify-content-between mt-5 mb-4">
  <h1>Purchase flow</h1>
</div>
<div class="d-flex justify-content-center">
  <%= line_chart @orders.group_by_day(:created_at).count, width: "90%",colors: ["#095941"] %>
</div>
<%# Total Income %>
<div class="dashboard-page-header d-flex justify-content-between mt-5 mb-4">
  <h1>Daily sales</h1>
</div>
<div class="d-flex justify-content-center">
  <%= column_chart @orders.group_by_day(:created_at).sum(:weight).transform_keys{ |key| key.strftime("%A") }, colors: [["#F6C042", "#FFDEE5", "#A3D0BF", "#EE7246", "#095941", "#CED3F9", "#57BD6F"]], width: "90%" %>
</div>
<%# Revenue %>
<%# Total Income %>
<div class="dashboard-page-header d-flex justify-content-between mt-5 mb-4">
  <h1>Revenue</h1>
</div>
<div class="d-flex justify-content-center">
  <%= line_chart @orders.group_by_day(:created_at).sum("total_price_cents / 100"), colors: ["#D3D6ED"] %>
</div>
