<% ingredients.each do |ingredient| %>
  <div class="card-column show-card-ingredient ml-0 mr-4">
    <%= link_to ingredient_path(ingredient), action: 'go' do %>
      <%= cl_image_tag ingredient.photo.key, class: "image" %>
      <div class="show-card-ingredient-info">
        <i class="far fa-heart position-icon mt-2"></i>
        <div class="show-card-ingredient-text">
          <% if ingredient.seller.restaurant %>
            <p><%= ingredient.seller.restaurant.name %></p>
          <% end %>
          <h2 mb-0><%= ingredient.name %></h2>
          <h3><strong><%= humanized_money_with_symbol(ingredient.price) %></strong> / <%= ingredient.weight %> kg</h3>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
