<div class="container">
  <div class="categories">
    <div class="category nm-green">Vegetarian</div>
    <div class="category nm-l-green">Vegan</div>
    <div class="category nm-pink">Gluten free</div>
    <div class="category nm-l-orange">Lactose free</div>
    <div class="category nm-blue">Fish</div>
    <div class="category nm-orange">Meat</div>
  </div>
  <div class="monthly-deals">
    <div class="row">
      <div class="col-4">
        <div class="month">
          <h2>September Deals</h2>
          <p>Exclusive deals for all Nomo customers, starting from 1 - 30 Sep 2021</p>
        </div>
      </div>
      <div class="col-4 card1">
        <%= render 'shared/card-frame1' %>
      </div>
      <div class="col-4 card2">
        <%= render 'shared/card-frame2' %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-3 filter-col">
    <div class="filters">
      <h2>Filters</h2>
      <div class="sort">
        <p>Sort</p>
        <div class="radio-buttons">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label promotion-item" for="flexRadioDefault1">
              Most popular
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label promotion-item" for="flexRadioDefault2">
              Location
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label promotion-item" for="flexRadioDefault2">
              Opening hours
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label promotion-item" for="flexRadioDefault2">
              Ratings
            </label>
          </div>
        </div>
      </div>
      <div class="expiry-date">
        <p>Expiry date</p>
        <div class="radio-buttons">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label promotion-item" for="flexRadioDefault1">
              Newest
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label promotion-item" for="flexRadioDefault2">
              Oldest
            </label>
          </div>
        </div>
      </div>
      <div class="promotion">
        <p>Promotion</p>
        <div class="radio-buttons">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label promotion-item" for="flexRadioDefault1">
              5% off
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label promotion-item" for="flexRadioDefault2">
              10% off
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label promotion-item" for="flexRadioDefault2">
              15% off
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              20% off
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label promotion-item" for="flexRadioDefault2">
              50% off
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-9 ig-col">
    <div class="ingredients">
      <div class="section-ig-one">
        <h1 class="ig-header">Today's offer</h1>
        <div class="card-row">
          <!-- <div class="owl-carousel owl-theme"> -->
            <%#= @ingredients.each do |ingredient| %>
              <%= render partial: 'shared/card-ingredient', locals: { ingredients: @all_six_ing } %>
            <%# end %>
          <!-- </div> -->
        </div>
      </div>
      <div class="section-ig-two">
        <h1 class="ig-header">Popular near you</h1>
        <div class="card-row">
     <!--      <div class="owl-carousel owl-theme"> -->
            <%#= @ingredients.each do |ingredient| %>
              <%= render partial: 'shared/card-ingredient', locals: { ingredients: @near_ingredients }%>
            <%# end %>
          <!-- </div> -->
        </div>
      </div>
      <div class="section-ig-three">
        <h1 class="ig-header">One last call</h1>
        <div class="card-row">
          <!-- <div class="owl-carousel owl-theme"> -->
            <%#= @ingredients.each do |ingredient| %>
              <%= render partial: 'shared/card-ingredient', locals: { ingredients: @expire_today_three_ing } %>
            <%# end %>
<!--           </div> -->
        </div>
      </div>
      <div class="section-ig-four">
        <%= link_to "Show more", ingredients_path, class: "btn-show-more"  %>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
