<div class="dashboard">
  <%= render 'shared/dashboard_sidenav' %>
  <div class="dashboard-content-container">
    <% content_for :navbar, 'dashboard' %>
    <%# Content Navbar %>
    <div class="dashboard-topnav">
      <div class="top-nav">
        <div class="input-group">
          <%= image_tag "search.svg", class: "input-group-text" %>
          <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
        </div>
        <div class="topnav-actions">
          <%= image_tag "noti.svg", class: "mr-3"%>
          <%# <%= render 'shared/dashboard_topnav' %>
          <%= image_tag "avatar-dashboard.svg"%>
        </div>
      </div>
    </div>
    <%# End Topnav %>
    <div class="dashboard-content">
      <div class="content-container">
        <%# Page header %>
        <div class="dashboard-page-header d-flex justify-content-between">
          <h1>All ingredients</h1>
          <div class="topnav-actions">
            <%# <button class="btn dashboard-button-white mr-2">Import</button> %>
            <%= link_to 'Import', "#", class: "dashboard-button dashboard-button-white mr-2" %>
            <%= link_to 'Add ingredient', new_ingredient_path, class: "dashboard-button" %>
          </div>
        </div>
        <%# Place your content below %>
        <%# Tab %>
        <ul class="nav nav-pills">
          <li class="active"><a data-toggle="pill" href="#all-ingredients">All</a></li>
          <li><a data-toggle="pill" href="#expired">Expired</a></li>
          <li><a data-toggle="pill" href="#sold">Sold</a></li>
        </ul>
        <%# Content %>
        <div class="tab-content">
          <%# All %>
          <div id="all-ingredients" class="tab-pane active">
            <table class="table table-light mt-4">
              <%= render 'shared/ingredient_table_head' %>
              <tbody>
                <% @ingredients.each do |ingredient| %>
                  <tr>
                    <td scope="row" class="pr-0"><input class="form-check-input" type="checkbox"></td>
                    <% if ingredient.photo.attached? %>
                      <td scope="row" class="pl-2 pr-0"><%= cl_image_tag ingredient.photo.key, width: 40, height: 40, crop: :fill %></td>
                    <% else %>
                      <td scope="row" class="pl-2 pr-0"><%= image_tag "ingredient_default.png", width: 40, height: 40, crop: :fill %></td>
                    <% end %>
                    <td scope="row">000<%= ingredient.id %></td>
                    <td scope="row"><%= ingredient.name %></td>
                    <td scope="row">$<%= ingredient.unit_price %></td>
                    <td scope="row"><%= ingredient.stock_amount %></td>
                    <td scope="row"><%= ingredient.unit %></td>
                    <td scope="row"><%= ingredient.discount_rate %>%</td>
                    <% if ingredient.expiry_date == Date.today %>
                      <td scope="row" style="color: #EE7246;">Today</td>
                      <td scope="row"><%= image_tag "alert.svg" %></td>
                    <% elsif ingredient.expiry_date == Date.tomorrow %>
                      <td scope="row" style="color: #EE7246;">Tomorrow</td>
                      <td scope="row"><%= image_tag "alert.svg" %></td>
                    <% else %>
                      <td scope="row"><%= change_date_format(ingredient.expiry_date) %></td>
                      <td scope="row"></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <%# Expired %>
          <div id="expired" class="tab-pane fade">
            <table class="table table-light mt-4">
              <%= render 'shared/ingredient_table_head' %>
              <tbody>
                <% @expired_ingredients.each do |ingredient| %>
                  <tr>
                    <td scope="row" class="pr-0"><input class="form-check-input" type="checkbox"></td>
                    <% if ingredient.photo.attached? %>
                      <td scope="row" class="pl-2 pr-0"><%= cl_image_tag ingredient.photo.key, width: 40, height: 40, crop: :fill %></td>
                    <% else %>
                      <td scope="row" class="pl-2 pr-0"><%= image_tag "ingredient_default.png", width: 40, height: 40, crop: :fill %></td>
                    <% end %>
                    <td scope="row">000<%= ingredient.id %></td>
                    <td scope="row"><%= ingredient.name %></td>
                    <td scope="row">$<%= ingredient.unit_price %></td>
                    <td scope="row"><%= ingredient.stock_amount %></td>
                    <td scope="row"><%= ingredient.unit %></td>
                    <td scope="row"><%= ingredient.discount_rate %>%</td>
                    <td scope="row"><%= change_date_format(ingredient.expiry_date) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <%# Sold %>
          <div id="sold" class="tab-pane fade">
            <table class="table table-light mt-4">
              <%= render 'shared/ingredient_table_head' %>
              <tbody>
                <% @sold_ingredients.each do |ingredient| %>
                  <tr>
                    <td scope="row" class="pr-0"><input class="form-check-input" type="checkbox"></td>
                    <% if ingredient.photo.attached? %>
                      <td scope="row" class="pl-2 pr-0"><%= cl_image_tag ingredient.photo.key, width: 40, height: 40, crop: :fill %></td>
                    <% else %>
                      <td scope="row" class="pl-2 pr-0"><%= image_tag "ingredient_default.png", width: 40, height: 40, crop: :fill %></td>
                    <% end %>
                    <td scope="row">000<%= ingredient.id %></td>
                    <td scope="row"><%= ingredient.name %></td>
                    <td scope="row">$<%= ingredient.unit_price %></td>
                    <td scope="row"><%= ingredient.stock_amount %></td>
                    <td scope="row"><%= ingredient.unit %></td>
                    <td scope="row"><%= ingredient.discount_rate %>%</td>
                    <td scope="row"><%= change_date_format(ingredient.expiry_date) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <%# Background End %>
  </div>
</div>
