 <div class="my-ingredients-top">
  <h1>My food needs a home!</h1>

  <div class="container">
    <ul>

    <% @ingredients.each do |ingredient| %>
    <div class="ingredient-card">
      <li class="list-image">
        <%= cl_image_tag ingredient.photo.key, alt: "logo", width: 100, height: 80%></li>
      <li> <%= ingredient.name %></li>
      <li>Price: $<%= ingredient.unit_price %></li>
      <li>Discount <%= ingredient.discount_rate %>%</li>
      <li>Expiry: <%= ingredient.expiry_date %></li>
      <li>Gross weight:<%= ingredient.weight %> Kg</li>
      <li>Item count:<%= ingredient.stock_amount %></li>
      <li><%= ingredient.status %></li>
    </div>
    <% end %>
    </ul>
  </div>
</div>
