<%# Left panel %>
<div class="left-pane" style="background-image: url('<%= cl_image_path @ingredient.photo.key %>')">
  <%# QTY + Add to cart %>
  <div class="qty-order">
    <div class="col-6 quantity margin-0">
      <p>QTY : </p>
      <p><%= @ingredient.stock_amount%> kg</p>
    </div>
    <div class="col-6 margin-0 order">
      <%= simple_form_for @ingredient do |f| %>
        <%= f.input :order_id, value: @order.id, as: :hidden, class: "nm-black mt-0" %>
        <%= f.submit 'Add to cart', class: 'order-btn'%>
      <% end %>
      <%= humanized_money_with_symbol(@ingredient.price * @ingredient.stock_amount) %>
    </div>
  </div>
</div>
<%# Right panel %>
<div class="right-pane">
  <%# First Section %>
  <div class=" section-one">
    <p class="resto-name"><%= @ingredient.seller.restaurant.name %></p>
    <h1 class="ingredient-header"><%= @ingredient.name %></h1>
    <div class="ingredients-badges">
      <span class="badge-round-yellow"><%= @ingredient.seller.restaurant.category.upcase %></span>
      <span class="badge-round-yellow bg-orange"><%= @ingredient.discount_rate %>% OFF</span>
    </div>
    <p class="ingredient-description"><%= @ingredient.description %></p>
    <div class="promo-cards">
      <%= render 'shared/card-l-green' %>
      <%= render 'shared/card-green' %>
      <%= render 'shared/card-d-green' %>
    </div>
    <hr>
  </div>
  <%# Restaurant info %>
  <div class="restaurant-info py-4">
    <div class="row">
      <div class="col-6">
        <p class="pickup-detail">Pickup details</p>
        <p class="detail-item "><strong>Opening hours: </strong><%= @ingredient.seller.restaurant.opening_hours %>AM - <%= @ingredient.seller.restaurant.closing_hours %>PM</p>
        <p class="detail-item"><strong>Store location: </strong><%= @ingredient.seller.restaurant.address %></p>
      </div>
      <div class="col-6">
        <div id="map"
      style="width: 100%; height: 200px;"
      data-markers="<%= @marker.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>
  </div>
  <%# Matching recipe %>
  <div class="section-two">
    <h1 class="ingredient-header">Matching recipes</h1>
    <div class="cards-flex justify-content-between">
      <%= render 'shared/card-recipe' %>
    </div>
  </div>
  <%# Often pair with %>
  <div class="section-three">
    <h1 class="ingredient-header">Often paired with...</h1>
    <div class="cards-flex justify-content-between">
      <%= render partial: 'shared/show-card-ingredient', locals: { ingredients: @paired_ingredients } %>
    </div>
  </div>
  <%# Other product in this store %>
  <div class="section-four">
    <h1 class="ingredient-header">Other products in this store</h1>
    <div class="cards-flex justify-content-between">
      <%= render partial: 'shared/show-card-ingredient', locals: { ingredients: @seller_ingredients } %>
    </div>
  </div>
  <%# End of right panel %>
</div>
