<div class="container">
  <h1 class="checkout">Checkout</h1>
  <div class="row">
    <div class="col-6">

    </div>
    <div class="col-6">
      <h2 class="section-title">Payment Detail</h2>
      <p class="section-description">Complete your purchase by providing your payment details.</p>
      <%= simple_form_for @order do |f| %>
        <%= f.input :pay_method, as: :radio_buttons, collection: ['Cash', 'Credit card'] %>
        <%= f.hidden_field :total_price, value: @order_total_price %>
        <%= f.hidden_field :status, value: :purchased %>
        <%= f.submit "Pay & Place order", class: "btn btn-pay" %>
      <% end %>
      <div class="summary">
        <div class="summary-top">
          <div class="top1">
            <p class="top">Subtotal</p>
            <p class="top">$ <%= @order_total_price %></p>
          </div>
          <div class="top2">
            <p class="top">Discount</p>
            <p class="top">$ 0</p>
          </div>
        </div>
        <div class="summary-bottom">
          <p class="total">Total</p>
          <p class="total">$ <%= @order_total_price %></p>
        </div>
      </div>
    </div>
  </div>
</div>
