<div class="container">
  <h1>Checkout</h1>
  <%# <% binding.pry %> %>
  <%= simple_form_for @order do |f| %>
    <%= f.input :pay_method, as: :radio_buttons, collection: ['Cash', 'Credit card'] %>
    <%= f.hidden_field :total_price, value: @order_total_price %>
    <%= f.hidden_field :status, value: :purchased %>
    <%= f.submit "Pay & Place order", class: "btn btn-primary" %>
  <% end %>
  Subtotal<%= @order_total_price %>
  Discount $0
  Total $<%= @order_total_price %>
</div>
