<%# Cart Navigation %>
<%= content_for :navbar, 'checkout' %>
<%# Content %>
<div class="row">
  <div class="col-6 checkout-summary-left">
    <div class="co-container">
      <h2>Items</h2>
      <% @order.ingredients.each do |ingredient| %>
        <div class="order-ingredient">
          <%= cl_image_tag ingredient.photo.key, class: "cart-img" %>
          <div class="order-ingredient-description">
            <div class="order-ingredient-details">
              <p class="ingredient-quantity-and-name"><%= ingredient.stock_amount %> X <%= ingredient.name %></p>
              <p class="resto-name-grey"><%= ingredient.seller.restaurant.name %></p>
            </div>
          </div>
          <p class="ingredient-quantity-and-name"><%= humanized_money_with_symbol(ingredient.price)%></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-6">
    <div class="container">
      <div class="row py-4">
        <div class="col-12 checkout-summary">
          <h1>Summary</h1>
          <div class="summary">
            <div class="summary-top">
              <div class="top1">
                <p class="top">Subtotal</p>
                <p class="top">$ <%= @order_total_price %></p>
              </div>
              <div class="top2">
                <p class="top">Discount</p>
                <p class="top">$ 0</p>
              </div>
            </div>
            <div class="summary-bottom">
              <p class="total">Total</p>
              <p class="total">$ <%= @order_total_price %></p>
            </div>
          </div>
          <div class="checkout-pay">
            <%= simple_form_for @order do |f| %>
              <%= f.hidden_field :total_price, value: @order_total_price %>
            <% end %>
            <button id="pay" class="btn btn-pay">Checkout</button>
          </div>
          <script src="https://js.stripe.com/v3/"></script>
          <script>
            const paymentButton = document.getElementById('pay');
            paymentButton.addEventListener('click', () => {
              const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
              stripe.redirectToCheckout({
                sessionId: '<%= @order.checkout_session_id %>'
              });
            });
          </script>
        </div>
      </div>
    </div>
    <%#= simple_form_for @order do |f| %>
      <%#= f.input :pay_method, as: :radio_buttons, collection: ['Cash', 'Credit card'] %>
      <%#= f.hidden_field :total_price, value: @order_total_price %>
      <%#= f.hidden_field :status, value: :purchased %>
      <%#= f.submit "Pay & Place order", class: "btn btn-pay" %>
      <%# end %>
    </div>
  </div>
