<div class="container mt-5">
  <h1>Welcome back<%= current_user.name %>!</h1>

  <div class="card-banner" style="background-image: url(<%= asset_path('carbon_card') %>);">
    <h4>So far you’ve rescued 123 ingredients and saved 435 kg of CO2</h4>
    <%= link_to "Learn more", class:"btn btn-primary" %>
  </div>



  <h1>All orders</h1>

  <% @orders.each do |order| %>
    Order: <%= order.id %>
    Payment: <%= order.pay_method %>
  <% end %>
</div>
