<div class="container mt-5">
  <%# Status %>
  <h1>Welcome back <%= current_user.name %>!</h1>
  <div class="d-flex">
    <div class="card-banner" style="background-image: url(<%= asset_path('carbon_card') %>);">
      <h4>So far you’ve rescued 123 ingredients and saved 435 kg of CO2</h4>
      <%= link_to "Learn more", class:"btn btn-primary" %>
    </div>
    <div class="card-banner" style="background-image: url(<%= asset_path('bush_card') %>); color: white;">
      <h4>You’re a earth saver</h4>
      <p>Save another 200 kg to unlock next level and receive more discounts </p>
      <p>Learn more</p>
    </div>
  </div>
  <hr>
  <%# Order %>
  <h1>All orders</h1>
  <ul>
    <% @orders.each do |order| %>
      <% order.ingredients.each do |ingredient| %>
        <li><%= ingredient.seller.restaurant.name %></li>
        <%= ingredient.name %> <%= ingredient.expiry_date %>
        <%= cl_image_tag ingredient.photo.key %>
      <% end %>
      Payment: <%= order.pay_method %>
      Total: $<%= order.total_price %>
      Status: <%= order.status %>
    <% end %>
  </ul>
</div>
<%# Tabs %>
<div class="w3-bar w3-black">
  <button class="w3-bar-item w3-button" onclick="openCity('London')">London</button>
  <button class="w3-bar-item w3-button" onclick="openCity('Paris')">Paris</button>
  <button class="w3-bar-item w3-button" onclick="openCity('Tokyo')">Tokyo</button>
</div>
<%# Contents %>
<div id="London" class="city">
  <h2>London</h2>
  <p>London is the capital of England.</p>
</div>
<div id="Paris" class="city" style="display:none">
  <h2>Paris</h2>
  <p>Paris is the capital of France.</p>
</div>
<div id="Tokyo" class="city" style="display:none">
  <h2>Tokyo</h2>
  <p>Tokyo is the capital of Japan.</p>
</div>
<%# Javascript for tab %>
<script>
  function openCity(cityName) {
    var i;
    var x = document.getElementsByClassName("city");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    document.getElementById(cityName).style.display = "block";
  }
</script>
