<table class="table table-light mt-4">
  <thead>
    <tr class="table-primary">
      <th scope="col" class="table-primary">Order Id</th>
      <th scope="col" class="table-primary">Customer</th>
      <th scope="col" class="table-primary">Phone number</th>
      <th scope="col" class="table-primary">Pay method</th>
      <th scope="col" class="table-primary">Total price($)</th>
      <th scope="col" class="table-primary">Purchased on</th>
    </tr>
  </thead>
  <tbody>
    <%# <div class="order-modal"> %>
    <% @orders.each do |order| %>
      <div class="order-modal">
        <%# Table row %>
        <tr class="order-modal-btn">
          <td scope="row">#000<%= order.id %></td>
          <td scope="row"><%= order.buyer.name %></td>
          <td scope="row"><%= order.buyer.phone_number %></td>
          <td scope="row">
            <span class="badge-round-l-green"><%= order.pay_method.upcase %></span>
          </td>
          <td scope="row"><%= order.total_price %></td>
          <td scope="row"><%= change_date_format(order.created_at) %></td>
        </tr>
        <div class="modal">
          HIII
        </div>
      </div>
    <% end %>
  </tbody>
</table>
