<div class="dashboard">
  <div class="dashboard-sidenav p-3">
    <%# Logo + Hambuger %>
    <div class="sidebar-item justify-content-between">
      <%= image_tag 'nomo-logo-black.svg', id: "nomo-b-logo"%>
      <%= image_tag 'bars.svg'%>
    </div>
    <%# Shop name %>
    <div class="shop-name" style="font-weight: 600;">
      <hr class="sidenav-divider">
      <%= @shop_name %>
      <hr class="sidenav-divider">
    </div>
    <%# Sidenav Menu %>
    <ul>
      <li>
        <%= image_tag 'home-outline.svg', id: "nomo-b-logo"%>
        <span class="menu-title">Home</span>
      </li>
      <li>
        <%= image_tag 'Tree.svg', id: "nomo-b-logo"%>
        <span class="menu-title">Ingredients</span>
      </li>
      <li>
        <%= image_tag 'icon_cart.svg', id: "nomo-b-logo"%>
        <span class="menu-title">Orders</span>
      </li>
      <li>
        <%= image_tag 'Gear.svg', id: "nomo-b-logo"%>
        <span class="menu-title">Settings</span>
      </li>
    </ul>
  </div>
  <div class="dashboard-content-container">
    <% content_for :navbar, 'dashboard' %>
    <%# ContentBox %>
    <%# Content Navbar %>
    <div class="dashboard-topnav">
      <div class="top-nav">
        <%# Search %>
        <div class="input-group">
          <%= image_tag "search.svg", class: "input-group-text" %>
          <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
        </div>
        <div class="topnav-actions">
          <%= image_tag "noti.svg", class: "mr-3"%>
          <%= image_tag "avatar-dashboard.svg"%>
        </div>
      </div>
    </div>
    <hr class="#">
    <%# End ContentBox %>
    <div class="dashboard-content">
      <div class="content-container">
        <h2>Scroll this page to see the effect</h2>
        <h2>The navigation bar will stay at the top of the page while scrolling</h2>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
      </div>
    </div>
    <%# Background End %>
  </div>
</div>
