<div class="dashboard">
  <%= render 'shared/dashboard_sidenav' %>
  <div class="dashboard-content-container">
    <% content_for :navbar, 'dashboard' %>
    <%# Content Navbar %>
    <div class="dashboard-topnav">
      <div class="top-nav">
        <%# Search %>
        <div class="input-group">
          <%= image_tag "search.svg", class: "input-group-text" %>
          <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
        </div>
        <div class="topnav-actions">
          <%= image_tag "noti.svg", class: "mr-3"%>
          <%# <%= render 'shared/dashboard_topnav' %>
          <%= image_tag "avatar-dashboard.svg"%>
        </div>
      </div>
    </div>
    <hr class="#">
    <%# End Topnav %>
    <div class="dashboard-content">
      <div class="content-container">
        <%# Page header %>
        <div class="dashboard-page-header d-flex justify-content-between">
          <h1>Good afternoon, <%= current_user.name %> </h1>
          <%# <button class="btn dashboard-button">Export report</button> %>
        </div>
        <%# Place your content below %>
        <%# Status %>
        <%= render 'shared/dashboard_status' %>
        <%#= column_chart @sold_ingredients.group_by_day(:created_at) %>
        <div class="dashboard_chart">
          <h3>Rescued Food</h3>
          <%= column_chart @orders.group_by_day(:created_at).sum(:weight), colors: [["#57BD6F", "#FFDEE5", "#F6C042", "#D3D6ED"]]%>
        </div>
        
        <%= line_chart @total_customers.group_by_day(:created_at).count, colors: ["#FFDEE5"]%>
        <%= line_chart @orders.group_by_day(:created_at).count, colors: ["#F6C042"] %>
        <%= line_chart @orders.group_by_day(:created_at).sum(:total_price), colors: ["#D3D6ED"] %>
        <%= bar_chart @sold_ingredients.group(:name).sum(:stock_amount), colors: [["#57BD6F", "#FFDEE5", "#F6C042", "#D3D6ED"]] %>

        <%= render 'shared/carbon_perf' %>
        <%= render 'shared/shop_setup' %>
        <%= render 'shared/shop_score' %>

      </div>
    </div>
  </div>
    <%# Background End %>
</div>

