<div class="dashboard">
  <%= render 'shared/dashboard_sidenav' %>
  <div class="dashboard-content-container">
    <% content_for :navbar, 'dashboard' %>
    <%# Content Navbar %>
    <div class="dashboard-topnav">
      <div class="top-nav">
        <%# Search %>
        <div class="input-group">
          <%= image_tag "search.svg", class: "input-group-text" %>
          <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
        </div>
        <div class="topnav-actions">
          <%= image_tag "noti.svg", class: "mr-3"%>
          <%# <%= render 'shared/dashboard_topnav' %>
          <%= image_tag "avatar-dashboard.svg"%>
        </div>
      </div>
    </div>
    <%# End Topnav %>
    <div class="dashboard-content">
      <div class="content-container">
        <%# Place your content below %>
        <div class="dashboard-page-header d-flex justify-content-between mb-4">
          <h1>Settings</h1>
        </div>
      </div>
    </div>
    <%# Background End %>
  </div>
</div>
