<!DOCTYPE html>
<html>
  <head>
    <title>NomoBeta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <% if content_for(:navbar) == 'dashboard' %>
    <body style="background-color: #CED3F9;">
      <%= render 'shared/seller-navbar' %>
      <%= render 'shared/flashes' %>
      <%= yield %>
    </body>
  <% elsif content_for(:navbar) == 'home' %>
    <body style="background-color: #F4F4F4;">
      <%= render 'shared/home_navbar' %>
      <%= render 'shared/flashes' %>
      <%= yield %>
    </body>
  <% else %>
    <body style="background-color: #F4F4F4;">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <%= yield %>
    </body>
  <% end %>
</html>
